body > header{
    font-size: 1.2em !important;
}

body > main header{
    font-size: 1.1em !important;
}

body > main > section label{
    font-size: 1.1em !important;
}

body > main > section input[type="text"]{
    font-size: 1em !important;
}

body > main > section button{
    font-size: 1.2em !important;
    padding: 2vh 5vw !important;
}

body figcaption{
    font-size: 1em !important;
}

body > footer{
    font-size: 1em !important;
}